<nav id="menu-navigation-mobile" class="laptop:hidden max-h-0 overflow-hidden transition-max-height">
  <ul class="pt-8 pb-14 px-6 flex flex-col gap-5">
    {% for item in navItems %}
      <li>
        <a class="link" href="{{ item.href }}">{{ item.label }}</a>
      </li>
    {% endfor %} 
  </ul>
</nav>
