<button id="menu-button" class="laptop:hidden flex flex-col items-center justify-center gap-y-1.5 cursor-pointer">
  <span class='h-px w-5 bg-slate-400 transition'></span>
  <span class='h-px w-5 bg-slate-400 transition'></span>
  <span class='h-px w-5 bg-slate-400 transition'></span>
</button>