<section class="relative py-5 bg-hero overflow-hidden">
  <section class="mb-4 bg-primary text-white">
    <section class="page-container py-7">
      <h1 class="tablet:max-w-2/3 px-2 text-3xl tablet:text-3xl laptop:text-6xl leading-none laptop:leading-20 font-extrabold">Все инструменты для конвертации PDF онлайн</h1>
    </section> 
  </section>
  <section class="page-container relative z-10">
    {% include "resources/views/components/actionList.njk"  %}
  </section>
  <div class="page-container absolute inset-0">
    <div class="hidden tablet:block absolute -top-20 laptop:-top-28 -bottom-10 laptop:-bottom-20 -right-20 laptop:right-0 aspect-1280/1000 bg-[url(/resources/images/backgrounds/storm.png)] bg-size-[110%] bg-center bg-no-repeat"></div>
  </div>
</section>