<section class="page-container pt-7.5 pb-10 laptop:pb-15 flex justify-center">
  <h2 class="hidden">
    Инструменты для работы с PDF
  </h2>
  {% include "resources/views/components/toolList.njk"  %}
</section>