@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-tablet: 54rem;
  --breakpoint-laptop: 105rem;
  --breakpoint-desktop: 120rem;

  --container-tablet: 48rem;
  --container-laptop: 80rem;
  --container-desktop: 90.75rem;

  --font-inter: "Inter", sans-serif;

  --spacing-header-offset: 5.875rem;
  --spacing-30-60-1920: clamp(1.875rem, 1.42rem + 1.94vw, 3.75rem);

  --text-18-20-768: clamp(1.125rem, 1.006rem + 0.51vw, 1.25rem);
  --text-24-30-864: clamp(1.5rem, 1.212rem + 1.23vw, 1.875rem);
  --text-30-36-864: clamp(1.875rem, 1.587rem + 1.23vw, 2.25rem);
  --text-12-16-1680: clamp(0.75rem, 0.678rem + 0.31vw, 1rem);
  --text-30-60-1680: clamp(1.875rem, 1.336rem + 2.3vw, 3.75rem);

  --color-main: #EDF4FF;
  --color-dark: #222222;
  --color-primary: #1058CB;
  --color-primary-active: #2549E0;
  --color-primary-muted: #1148A2;
  --color-accent: #11D519;
  --color-accent-active: #00A007;
  --color-secondary: #3A3D5E;
  --color-muted: #7F8193;
  --color-pale: #E5E6E6;
  --color-marker: #00A007;

  --shadow-header: 0px 1px 24px 0 rgba(38, 58, 78, 0.15);
  --shadow-action: 0 4px 15px 0 rgba(58, 84, 203, 0.2);
  --shadow-tool: 0px 24px 30px 0 rgba(212, 222, 231, 0.66);
  --shadow-tool-active: 0px 24px 30px 0 rgba(162, 209, 247, 0.66);
  --shadow-tool-decore: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);


  --background-image-hero: linear-gradient(180deg,
      rgba(208, 226, 255, 0.75) 0%,
      rgba(208, 226, 255, 0.75) 50%,
      #ffffff 100%);
  --background-image-pale-icon: linear-gradient(180deg, #EDF4FF 0%, #FFFFFF 100%);
}

@layer components {
  .link {
    @apply text-18-20-768 text-primary transition-opacity hover:opacity-80 active:opacity-80;
  }
}

@layer utilities {
  .page-container {
    @apply mx-auto px-6 tablet:px-0 w-full tablet:max-w-tablet laptop:max-w-laptop desktop:max-w-desktop;
  }
}